
  <h2> Enter a word  </h2>
  
  <select id='word_service', style='font-size: 20px; border-color:#999'>
    <option value='anagrams'  selected='selected'>
                                  Anagrams (use ? for wildcard) </option>
    <option value='suggestions'>  Scrabble Suggestions</option>
    <option value='autocomplete'> Autocomplete </option>
    <option value='autospell'>    Autocomplete spell help</option>
    <option value='levenhood'>    Full word spell help </options>
    <option value='startswith'>   Starts with</option>
    <option value='contains'>     Contains </option>
  </select>
	  
  <div class="ui-widget" >
    <input style='width: 300px; border: 2px black solid; font-size: 20px; z-index=2; ' id="word" />
  </div>
    
  <div 
     class="ui-corner-all hide" id="results" style="width: 350px; overflow: auto; margin-top: 2em; font-size: 18px; z-index: 2; border: 1px black solid; margin: 0px; padding: 0px">
</div> 
<br/><br/> 
<%= javascript_include_tag "autocompletions" %>

