<h3> Word Services <sm> for dictionaries</sm></h3>
<ul>
<li> Goals of an open service project  
    <ul>
    	<li> Documented APIs </li>
		  <li> Allow Specialized dictionaries 
		     <ul>
		         <li> Custom autocomplete</li>
		         <li> Custom spell check </li>
             </ul>
         </li>
		<li> Trainable services </li>
	  </ul>
</li>
<li> Nearly Free?
	<ul>
        <li> Cheap, fast cloud</li>
        <li> Low cost disk space </li>
       	<li> Simple realtime; precompute</li>
       	<li> Heroku postgres</li>
    </ul>
</li>

<li> Code: <ul>
	<li>
       <a href='https://github.com/jfinucane/cross-service'> Code </a>
    </li><li>
		<a href='https://github.com/jfinucane/cross-service/blob/master/README.rdoc'> Documentation </a>
    </li>
   </ul>
</li>
<li> Questions 
	<ul>
        <li> Why should your friends <br/>
             always win at Scrabble? </li>
        <li> <a href='http://norvig.com/spell-correct.html'>
        Best reference paper? </a> 
        </li>
    </ul>
</li>
 </ul>
<a href='/words/api'> Return </a>
<br/><br/>
Contact: jamesfinucane at gmail.com
