<h3> Word Services <sm> for dictionaries</sm></h3>
<ul>


          <li> Anagrams allows up to 3 wildcards</li>
             <ul>
                <li> Use ? for wildcard (or *) </li>
                <li> Other options ignore wildcard </li>
              </ul>
          <li> Scrabble Suggestions
             <ul>
                <li> shows anagrams </li>
                <li> shows some shorter words </li>
                <li> words with one letter addded </li>
              </ul>
          </li>
         	<li> Autocomplete makes suggestions <br>
               based on popularity </li>
          <li> Autocomplete with spelling check <br>
               suggests popular similar words </li>
          <li> Spelling checks single errors 
             <ul>
                <li> one add, delete or change </li>
                <li> one transposition </li>
                <li> returns the word if valid </li>
            </ul>
          </li>


    <li> Default dictionary
      <ul>
        <li> 87,000 popular scrabble words
        <li> Each word is a scrabble word
        <li> Popularity in Google top 333K</li>
      </ul>
  </li>

</ul>


