<h2>  Suggestions for: <%= @word %> 
(from <%= @dictionary.attribution %> dictionary)</h2><br/><br/><br/>
<%= render :partial => 'suggestions_table' %>

<br/><br/><br/>

 Time in seconds: <br/>
 <%= @elapsed_time %>